@import "../../App";

.login {

  .right {
    @include right_block();
    .right_container {
      width: 80%;
      .log_in_btn {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 5vh;
        .login_logo{
          @media(max-width: 500px){
            width: 50px;
          }
        }
      }

      .login_inputs {
        margin-top: 15vh;
        .input{
          position: relative;
          label{
            @include input_label();
          }
          input{
            @include input_text();
          }
          .show_hide{
            position: absolute;
            right: 10px;
            top: 62%;
            cursor: pointer;
            svg{
              width: 20px;
              path{
                fill: #959595;
              }
            }
          }
          .error{
            border: 1px solid #f5c6cb;
            box-shadow: 0px 0px 6px rgba(255, 0, 0, 50%);
          }
        }

        .login_btn {
          @include btn();
          margin-top: 4vh;
          margin-bottom: 3.5vh;
          &:hover {
            background: transparent;
            color: #3398DF;
            transition: 0.3s all;
          }
        }

        .remember {
          display: flex;
          justify-content: space-between;
          align-items: center;
          color: #3398DF;
          font-size: 15px;
          a {
            text-decoration: none;
            color: inherit;
          }
          input {
            display: inline-block;
            width: 10px;
            height: 10px;
            visibility: hidden;
            position: absolute;
            + {
              label {
                &:before {
                  border: none;
                  background: #FFFFFF;
                  box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.25);
                  content: "\00a0";
                  display: inline-block;
                  font: 16px/1em sans-serif;
                  height: 16px;
                  margin: 0 .25em 0 0;
                  padding: 0;
                  vertical-align: top;
                  width: 16px;
                }
              }
            }

            &:checked {
              + {
                label {
                  &:before {
                    background: #fff;
                    color: #3398DF;
                    content: "\2713";
                    text-align: center;
                    font-weight: bold;
                  }

                  &:after {
                    font-weight: bold;
                  }
                }
              }
            }

            &:focus {
              + {
                label {
                  &::before {
                    outline: rgb(59, 153, 252) auto 5px;
                  }
                }
              }
            }
          }
          @media(max-width: 400px){
            flex-direction: column;
            gap: 10px;
          }
        }
      }
      @media(max-width: 500px){
       width: 90%;
      }
    }
    @media(max-width: 1100px){
      width: 90%;
      border-radius: 50px;
    }
    @media(max-width: 700px){
     margin-top: 80px;
    }
    @media(max-width: 500px){
      border-radius: 30px;
    }
  }
  
}