@import "../../../../App";

.help_search{
  display: flex;
  position: relative;
  margin-top: 30px;
  .search_icon{
    position: absolute;
    top: 18%;
    left: 8px;
  }
  
  input{
    @include input_text();
    height: 5.1vh;
    padding-left: 30px;
  }
}