.home {
  .home_main {
    display: flex;
    flex-direction: column;
    width:100%;
    padding: 0 46px;
    justify-content: center;

    .home_components {
      width: 100%;
      margin-top: 4vh;

      .home_container {
        display: flex;
        justify-content: space-between;

        .first_coponent {
          width: 27%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .calendar {
            background: rgba(255, 253, 253, 0.32);
            box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
            border-radius: 23px;
            height: 25.4vh;
            padding: 1vh;

            @media(max-width:1150px) {
              display: none;
            }
          }

          .coming_lessons {
            height: 33vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            ;
            background: rgba(255, 253, 253, 0.32);
            box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
            border-radius: 18px;
            padding: 20px 10px 20px 10px;

            @media(max-width: 1600px) {
              padding: 10px;
            }

            @media(max-width:1150px) {
              height: 25vh;
              margin-bottom: 3vh;
            }
          }

          @media(max-width:1150px) {
            width: 100%;
          }
        }

        @media(max-width:1150px) {
          flex-direction: column-reverse;
          gap: 30px;
        }
      }

      .second_coponent {
        width: 41%;
        background: rgba(255, 253, 253, 0.32);
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
        border-radius: 18px;
        padding: 2.3vh 10px;

        @media(max-width:1150px) {
          display: none;
        }
      }

      .threeth_coponent {
        width: 27%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .calls_history {
          height: 33vh;
          display: flex;
          flex-direction: column;
          align-items: center;
          ;
          background: rgba(255, 253, 253, 0.32);
          box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
          border-radius: 18px;
          padding: 20px 10px 20px 10px;

          @media(max-width: 1600px) {
            padding: 10px;
          }

          @media(max-width:1150px) {
            height: 25vh;
          }
        }

        @media(max-width:1150px) {
          gap: 30px;
          width: 100%;
        }
      }

      @media(max-width:1150px) {
        margin-top: 2vh;
      }
    }
    @media(max-width:600px) {
      padding: 0 20px;
    }
  }
}