@import "../../../../../../App";

.dialog_body {
  background-color: #fff;
  border-radius: 25px;
  padding: 40px;

  .dialog_header{
    p{
      color: #707070;
      font-size: 30px;
      font-family: "Roboto" ;
      text-align: center;
      padding-bottom: 10px;
      @media(max-width:450px){
        font-size: 24px;
      }
    }
    .closeX{
      cursor: pointer;
      position: absolute;
      top: 20px;
      right: 15px;
    }
  }
  .inputs{
  display: flex;
  flex-direction: column;
  gap: 10px;
  
  .input {
    position: relative;
    label {
      @include input_label();
    }
    input {
      @include input_text();
    }
    .show_hide {
      position: absolute;
      right: 10px;
      top: 62%;
      cursor: pointer;
      svg {
        width: 20px;

        path {
          fill: #959595;
        }
      }
    }
    .error {
      border: 1px solid #f5c6cb;
      box-shadow: 0px 0px 6px rgba(255, 0, 0, 50%);
    }
  }
 }
  .saveBtn{
    text-align: center;
    margin-top: 30px;
    .btn{
      @include btn();
      font-size: 17px;
      width:120px;
      padding: 8px 14px;

        &:hover {
          background: transparent;
          color: #3398DF;
          transition: 0.3s all;
        }
    }
  }
  @media(max-width:450px){
    padding: 40px 20px;
  }
}